body {
	font-family: arial;
	font-size: small;
	background: url(https://upload.wikimedia.org/wikipedia/de/thumb/5/57/Hochschule_Furtwangen_HFU_logo.svg/2560px-Hochschule_Furtwangen_HFU_logo.svg.png)
}